page-welcome {

  .start-button,
  .end-button {
    color: #ebebeb;
    height: 10em;
    width: 10em;
    border: solid 2px #ebebeb;
    border-radius: 5em;
    font-face: "Arial Black";
    font-weight: bold;
    font-size: 1em;
    margin: 2em;
  }

  .start-button {
    background-color: #2E8B57;
  }

  .end-button {
    background-color: #FF6347;
  }

  .start-button-div,
  .end-button-div {
    text-align: center;
    background-color: #98FB98;
  }

  .main-div {
    height: 100%;
    width: 100%;
    background-color: #98FB98;
  }

  .show-data-view {
    background-color: #98FB98;
  }

}