page-welcome {

  .start-button,
  .end-button {
    color: #ebebeb;
    height: 5em;
    width: 5em;
    border: solid 1px #ebebeb;
    border-radius: 2.5em;
    font-face: "Arial Black";
    font-weight: bold;
    font-size: 1em;
    margin: 1em;
  }

  .start-button {
    background-color: #2E8B57;
  }

  .end-button {
    background-color: #FF6347;
  }

  .start-button-div,
  .end-button-div {
    position: absolute;
    top: 70%;
    left: 40%;
    text-align: center;
    background-color: transparent;
  }

  .main-div {
    height: 100%;
    width: 100%;
    background-color: #98FB98;
  }

  .show-data-view {
    background-color: #98FB98;
  }

}